RSS_Feed_Trigger.json
{
  "name": "RSS Feed Trigger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5c6dd42a-00af-4dd9-b0d2-178dc353e483",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44fa0324-148c-4bf3-80e9-4979b2845967",
              "name": "creator",
              "value": "={{ $json.creator }}",
              "type": "string"
            },
            {
              "id": "6b9edcfb-9cd7-45f8-91a4-d5efa1941390",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "e908328a-6e2d-4cf4-99c2-da798940f9e9",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "a086c426-a927-4eec-b641-f1b51a49200f",
              "name": "content",
              "value": "={{ $json['content:encoded'] }}",
              "type": "string"
            },
            {
              "id": "8e81b7c6-2023-4a68-8e44-54a268bab447",
              "name": "Date added",
              "value": "={{ $now }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "1df48687-2702-4b0e-911b-ea856348d44d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kJfa-tZ1qHw-SvPN9rQdguhnz60Hvcv7lvimaSaLOq4",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJfa-tZ1qHw-SvPN9rQdguhnz60Hvcv7lvimaSaLOq4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJfa-tZ1qHw-SvPN9rQdguhnz60Hvcv7lvimaSaLOq4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date added",
              "displayName": "Date added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "id": "163b55ae-f754-48c3-bf72-71ff0563924d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RDsxbjUZsAteJeyC",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b79c586-e953-4497-b76e-0e44a2eb93a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5293dba5532b2a4f695d8e52e38c57f119914c2ef581c65c298c40ea54c60b2e"
  },
  "id": "Bl8R2E9jOzJiWamq",
  "tags": []
}